.foodcards {
    color: white;
    margin: 0 auto;
    padding-top: 4rem;

    display: flex;flex-wrap: wrap;
    row-gap: 3.2rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}