.foodcard {
    width: 40rem;
    height: 17rem;

    border-radius: 2rem;
    background: url(), radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(1.318rem);

    padding: 1.5rem;
    display: flex;
}

.food-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.food-info h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
}

.info p {
    font-size: 1.2rem;
}